.task-list-container {
  width: 500px;
  min-height: 65px;
  margin: 5px 0px;
  padding: 8px 15px 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1px;
  cursor: pointer;
  font-family: 'Caveat', cursive;
}

.task-list-container:nth-child(3n+3) {
  background-color: #FF9AA2;
}

.task-list-container:nth-child(3n+2) {
  background-color: #ffb7B2;
}

.task-list-container:nth-child(3n+1) {
  background-color: #fac8c4;
}

.task-text {
  width: 100%;
  height: 100%;
  font-size: 34px;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
  color: #807374;
}

.task-text:hover {
  font-weight: bold;
}

.task-icon {
  width: 20px;
  height: 20px;
  margin: 5px;
  color: #807374;
}

.task-icon:hover {
  color: #e6324b;
}

.completed {
  background-color: #7dd0b1 !important;
  text-decoration: line-through;
}