.tasks-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tasks-input {
  width: 350px;
  font-size: 24px;
  background-color: white;
  padding: 14px 32px 14px 16px;
  border: 1px solid #FF9AA2;
  outline: none;
  font-family: 'Caveat', cursive;
}

.tasks-button {
  padding: 16px;
  font-size: 24px;
  font-family: 'Caveat', cursive;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #fb818b;
  color: white;
  text-transform: capitalize;
  margin-left: 5px;
}