* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: #353634;
  background-color: #292938;
  margin-top: 15px;
  font-family: 'Caveat', cursive;
}

.task-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.list-container {
  width: 600px;
  min-height: 500px;
  background-color: #C7CEEA;
  padding: 10px 25px 25px 25px;
  border-radius: 5px;
}

.main-title {
  color: #1b1b32;
  font-size: 68px;
  font-family: 'Caveat', cursive;
  text-align: center;
}